:root {
    --background-color:#111;
    --text-color:#ededed;
    --primary-color:#404258;
    --secondary-color:#474E68;
}

.main-dark {
    --background-color:#111;
    --text-color:#ededed;
    --primary-color:#404258;
    --secondary-color:#474E68;
}

.main-light {
    --background-color:#ededed;
    --text-color:#111;
    --primary-color:#7FBCD2;
    --secondary-color:#A5F1E9;
}

.main-layout {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    color: var(--text-color);
    background-color: var(--primary-color);
}

.imageCard {
    height: 18rem;
}

.main {
    background-color: var(--background-color);
    color: var(--text-color)
}

aside {
    background-color: var(--primary-color);
}

.title {
    font-size: 30px;
    font-weight: 700;
}

.top-bar{
    margin-left: -2rem;
    margin-top: -2rem;
    width: 120%;
    background-color: var(--secondary-color);
}

.card-content{
    padding-left: 30px;
}

.p-divider .p-divider-content {
    background-color: var(--primary-color);
}

.fc {
    margin-top: 1rem;
}

.fc.fc-theme-standard .fc-view-harness .fc-view {
    background-color: var(--primary-color);
    color: var(--text-color);
}